<div class="flex-wrapper">
    <div class="header">
        <h1>Produtos da loja</h1>
    </div>

    <div class="content">

        <div class="container">
            <div class="row">
                <div class="col">
                    <mat-card class="produto-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>Vandal Elderflame</mat-card-title>
                            <mat-card-subtitle>Skin vandal</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../../../assets/img/241px-Vandal_elderflame_VALORANT.png"
                            alt="Vandal Arquifogo">
                        <mat-card-content class="produto-text">
                            <p>
                                Skin de arma do Vavazada da massa!!
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>Adicionar ao Carrinho</button>
                            <button mat-button>Descrição</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col">
                    <mat-card class="produto-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>Vandal Glitchpop</mat-card-title>
                            <mat-card-subtitle>Skin vandal</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../../../assets/img/241px-Vandal_glitchpop_2.0_VALORANT.png"
                            alt="Vandal Glitchpop">
                        <mat-card-content class="produto-text">
                            <p>
                                Skin de arma do Vavazada da massa!!
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>Adicionar ao Carrinho</button>
                            <button mat-button>Descrição</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col">
                    <mat-card class="produto-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>Vandal Neptune</mat-card-title>
                            <mat-card-subtitle>Skin vandal</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../../../assets/img/241px-Vandal_neptune_VALORANT.png"
                            alt="Vandal Neptune">
                        <mat-card-content class="produto-text">
                            <p>
                                Skin de arma do Vavazada da massa!!
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>Adicionar ao Carrinho</button>
                            <button mat-button>Descrição</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col">
                    <mat-card class="produto-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>Vandal Fusca</mat-card-title>
                            <mat-card-subtitle>Skin vandal</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../../../assets/img/241px-Vandal_origin_VALORANT.png"
                            alt="Vandal origin">
                        <mat-card-content class="produto-text">
                            <p>
                                Skin de arma do Vavazada da massa!!
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>Adicionar ao Carrinho</button>
                            <button mat-button>Descrição</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col">
                    <mat-card class="produto-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>Vandal Prime</mat-card-title>
                            <mat-card-subtitle>Skin vandal</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../../../assets/img/241px-Vandal_prime_VALORANT.png"
                            alt="Vandal prime">
                        <mat-card-content class="produto-text">
                            <p>
                                Skin de arma do Vavazada da massa!!
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>Adicionar ao Carrinho</button>
                            <button mat-button>Descrição</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col">
                    <mat-card class="produto-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>Vandal Saqueadora</mat-card-title>
                            <mat-card-subtitle>Skin vandal</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../../../assets/img/241px-Vandal_reaver_VALORANT.png"
                            alt="Vandal Saqueadora">
                        <mat-card-content class="produto-text">
                            <p>
                                Skin de arma do Vavazada da massa!!
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>Adicionar ao Carrinho</button>
                            <button mat-button>Descrição</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <mat-card class="produto-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>Vandal Pcgamer</mat-card-title>
                            <mat-card-subtitle>Skin vandal</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../../../assets/img/241px-Vandal_rgx_11z_pro_VALORANT.png"
                            alt="Vandal rgx 11z pro">
                        <mat-card-content class="produto-text">
                            <p>
                                Skin de arma do Vavazada da massa!!
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>Adicionar ao Carrinho</button>
                            <button mat-button>Descrição</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col">
                    <mat-card class="produto-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>Vandal Sentinela</mat-card-title>
                            <mat-card-subtitle>Skin vandal</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../../../assets/img/241px-Vandal_sentinels_of_light_VALORANT.png"
                            alt="Vandal Sentinela da luz">
                        <mat-card-content class="produto-text">
                            <p>
                                Skin de arma do Vavazada da massa!!
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>Adicionar ao Carrinho</button>
                            <button mat-button>Descrição</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col">

                </div>
            </div>
        </div>

    </div>
    <div class="footer"></div>
</div>